In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [2]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [3]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
train.shape

(8693, 14)

In [5]:
train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [6]:
train.describe(include=['O'])

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,VIP,Name
count,8693,8492,8476,8494,8511,8490,8493
unique,8693,3,2,6560,3,2,8473
top,0001_01,Earth,False,G/734/S,TRAPPIST-1e,False,Gollux Reedall
freq,1,4602,5439,8,5915,8291,2

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [8]:
test.shape

(4277, 13)

In [9]:
test.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [10]:
survived = train[train['Survived'] == 1]
not_survived = train[train.Survived == 0]

KeyError: 'Survived'

In [ ]:
print(f'Survived: {len(survived)}, {round(len(survived)/len(train) * 100, 2)}%')
print(f'Not survived: {len(not_survived)}, {round(len(not_survived)/len(train) * 100, 2)}%')

In [ ]:
train[['Pclass', 'Survived']].groupby('Pclass', as_index = False).mean()

In [ ]:
sns.barplot(x='Pclass', y='Survived', data=train, errorbar=None)

In [ ]:
sns.barplot(x='Sex', y='Survived', data=train, errorbar=None)

In [ ]:
tab = pd.crosstab(train['Pclass'], train['Sex'])
print(tab)
tab.div(tab.sum(1), axis=0).plot(kind='bar', stacked=True)

In [ ]:
sns.catplot(x='Pclass', y='Survived', hue='Sex', aspect=2, data=train, kind='point')

In [ ]:
sns.barplot(x='Embarked', y='Survived', data=train, errorbar=None)

In [ ]:
tab = pd.crosstab(train['Pclass'], train['Embarked'])
print(tab)
tab.div(tab.sum(1), axis=0).plot(kind='bar', stacked=True)

In [ ]:
print(train[['Parch', 'Survived']].groupby(['Parch']).mean())
sns.barplot(x='Parch', y='Survived', data=train, errorbar=None)

In [ ]:
print(train[['SibSp', 'Survived']].groupby(['SibSp']).mean())
sns.barplot(x='SibSp', y='Survived', data=train, errorbar=None)

In [ ]:
fig = plt.figure(figsize=(12,4))
ax1 = fig.add_subplot(131)
ax2 = fig.add_subplot(132)
ax3 = fig.add_subplot(133)

sns.violinplot(x='Pclass', y='Age', hue='Survived', data=train, split=True, ax = ax1)
sns.violinplot(x='Embarked', y='Age', hue='Survived', data=train, split=True, ax = ax2)
sns.violinplot(x='Sex', y='Age', hue='Survived', data=train, split=True, ax = ax3)

In [ ]:
total_survived = train[train['Survived'] == 1]
total_not_survived = train[train['Survived'] == 0]
male_survived = total_survived[total_survived['Sex'] == 'male']
female_survived = total_survived[total_survived['Sex'] == 'female']
male_not_survived = total_not_survived[total_not_survived['Sex'] == 'male']
female_not_survived = total_not_survived[total_not_survived['Sex'] == 'female']


fig = plt.figure(figsize = [15, 10])
ax1 = fig.add_subplot(311)
sns.histplot(total_survived['Age'].dropna().values, bins = range(0, 81, 1), kde = False, color = 'blue', ax = ax1)
sns.histplot(total_not_survived['Age'].dropna().values, bins = range(0, 81, 1), kde = False, color = 'red', ax = ax1)

ax2 = fig.add_subplot(312)
sns.histplot(male_survived['Age'].dropna().values, bins = range(0, 81, 1), kde = False, color = 'blue', ax = ax2)
sns.histplot(male_not_survived['Age'].dropna().values, bins = range(0, 81, 1), kde = False, color = 'red', ax = ax2)


ax3 = fig.add_subplot(313)
sns.histplot(female_survived['Age'].dropna().values, bins = range(0, 81, 1), kde = False, color = 'blue', ax = ax3)
sns.histplot(female_not_survived['Age'].dropna().values, bins = range(0, 81, 1), kde = False, color = 'red', ax = ax3)

In [ ]:
corr_matrix = train.corr(numeric_only = True)
corr_matrix

In [ ]:
sns.heatmap(corr_matrix, vmax = 0.6, square = True, annot = True)

In [ ]:
train_test_data = [train, test]
for dataset in train_test_data:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.')
train.head()

In [ ]:
pd.crosstab(train['Title'], train['Sex'])

In [ ]:
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].replace(['Capt', 'Col', 'Countess', 'Don', 'Dr', 'Jonkheer', 'Lady', 'Major', 'Rev', 'Sir'], 'Other')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
train[['Title', 'Survived']].groupby(['Title'], as_index = False).mean()

In [ ]:
title_mapping = {'Mr': 1, 'Master': 2, 'Mrs': 3, 'Miss': 4, 'Other': 5}
sex_mapping = {'female': 0, 'male': 1}
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(5)
    dataset['Sex'] = dataset['Sex'].map(sex_mapping)
train.head()

In [ ]:
train.Embarked.unique()
train.Embarked.value_counts()

In [ ]:
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
    dataset['Embarked'] = dataset['Embarked'].map({'S': 0, 'C': 1, 'Q': 2}).astype(int)
train.head()

In [ ]:
for dataset in train_test_data:
    age_avg = dataset['Age'].mean()
    age_std = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    
    age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size = age_null_count)
    dataset['Age'][np.isnan(dataset['Age'])] = age_null_random_list
    dataset['Age'] = dataset['Age'].astype(int)
train['AgeBand'] = pd.cut(train['Age'], 5)

print(train[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index = False).mean())

In [ ]:
for dataset in train_test_data:
    dataset.loc[dataset['Age'] <= 16, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[dataset['Age'] > 64, 'Age'] = 4
train.head()

In [ ]:
for dataset in train_test_data:
    dataset['Fare'] = dataset['Fare'].fillna(train['Fare'].median())
train['FareBand'] = pd.qcut(train['Fare'], 4)
print(train[['FareBand', 'Survived']].groupby(['FareBand'], as_index = False).mean())
train.head()

In [ ]:
for dataset in train_test_data:
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] = 3
    dataset['Fare'] = dataset['Fare'].astype(int)
    
train.head()

In [ ]:
for dataset in train_test_data:
    dataset['FamilySize'] = dataset['SibSp'] +  dataset['Parch'] + 1
print(train[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean())

In [ ]:
for dataset in train_test_data:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1
print(train[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean())

In [ ]:
features_drop = ['Name', 'SibSp', 'Parch', 'Ticket', 'Cabin']
train = train.drop(features_drop, axis = 1)
test = test.drop(features_drop, axis = 1)
train = train.drop(['PassengerId'], axis = 1)
train.head()

In [ ]:
test.head()

In [ ]:
plt.figure(figsize = (15, 6))
sns.heatmap(train.corr(numeric_only = True), vmax = 0.6, square = True, annot = True)

In [ ]:
X_train = train.drop(['Survived', 'AgeBand', 'FareBand'], axis = 1)
y_train = train['Survived']

X_test = test.drop('PassengerId', axis = 1).copy()

X_train.shape, y_train.shape, X_test.shape

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier